h1{
    color: black;
}
.container-eventos{
    display: flex;
    flex-direction: column;
}
.container-infos{
    width: 100%;
    min-height: 5vh;
    padding: 12px;
    height: auto;
    background-color: #1e1e2f;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
}

.btn-opcoes{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.botao-claro {
  background-color: transparent; 
  color: #e5e7eb; 
  padding: 0.75rem 1.5rem;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-claro:hover {
  background-color: #e5e7eb; 
  color: #1e1e2f;
  border-color: #9ca3af;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.botao-claro svg {
  width: 20px;
  height: 20px;
}


.btn-criar-evento {
  background-color: #0ddd30;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.btn-criar-evento:hover {
  background-color: #0056b3;
}

.filtro-opcao {
  display: flex;
  flex-direction: column;
}

.filtro-opcao span {
  font-weight: 600;
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 0.4rem;
}

.filtro-opcao input[type="date"],
.filtro-opcao select {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  font-size: 0.95rem;
  transition: border 0.2s ease;
}

.filtro-opcao input:focus,
.filtro-opcao select:focus {
  border-color: #0077ff;
  outline: none;
  background: #fff;
}

.container-btn-table-eventos{
    display: flex;
    gap: 13px;
    align-items: center;
    padding: 8px;
    justify-content: space-evenly;
    background-color: #F3F4F6;
}

.selected{
  background-color: #e5e7eb; 
  color: #1e1e2f;
}